.profile {
  display: flex;
  align-items: center;
  padding: 80px 20px 20px;
  margin-bottom: 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-text {
  max-width: 600px;
}

.profile-text h2 {
  margin-top: 0;
  font-size: 2.5em;
  color: rgba(5, 97, 45, 0.9);
}

.profile-text p {
  margin: 10px 0;
}
